<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/navbar') -%>
    <div class="container-fluid dash">
      <div
        class="dash_container d-flex flex-column align-items-center justify-content-center bg-dark"
      >
        <h1 class="dash_heading">Dashboard</h1>
        <h3 class="dash_sub_heading">DriveTest Booking Kiosk</h3>
      </div>
      <footer
        class="dash_footer d-flex flex-column align-items-center justify-content-center"
      >
        <div>
          <h1 class="footer_heading">
            You can book G2/G drive test from <br />
            this Kiosk
          </h1>

          <h3 class="footer_sub_heading">
            You can book G2/G drive test from this Kiosk
          </h3>
        </div>
        <div>Posted by <strong>DriveTest Center</strong></div>
      </footer>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
</html>
